header{
	background-color: #93B5C6;
	color: white;
	text-align: center;
}
section{
	height: 600px;
	color: white;
}
#contact{
	height:200px;
}
footer{
	background-color: #93B5C6;	
	color:white;
}

#header-top{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("https://images.unsplash.com/photo-1514810771018-276192729582?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
	background-size: cover;
	height:500px;
}
#top-icon{
	padding: 15px;
}
#section-welcome{
	margin: 0px;
	background-color: #C9CCD5;
	text-align: center;

}
#section-about{
	background-color: #E4D8DC;
}
#section-projects{
	background-color: #FFE3E3;
}
#header-top h1{
	padding-top: 17px;
}

.nav li a{
	color: mintcream;
}
.nav li a:hover{
	color:lightgoldenrodyellow;
}
.nav{
	position: sticky;
	background-color: #93B5C6;

}
.section-1-text{
	margin-bottom:0px;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.section-header{
	padding-top:45px;
}
footer{
	display:flex;
	justify-content: center;
}